<div class="row">
  <div class="col">
    <button type="button" (click)="open(content)" class="btn btn-outline-primary">Add profile</button>
  </div>
  <div class="col-xl-12">
    <app-card cardTitle="Manage Profile" [options]="false" blockClass="table-border-style">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <!-- <th>#ID</th> -->
              <th>Wifi zone</th>
              <th>Profile name</th>
              <th>Time limit</th>
              <th>Price</th>
              <th>Comment</th>
              <th>NBres tikets</th>
              <th>Link</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            @for (profile of profiles; track profile) {
              <tr>
                <td>{{profile.wifiZone.name}}</td>
                <td>{{profile.name}}</td>
                <td>{{profile.timeLimit}}</td>
                <td>{{profile.price}} FGN</td>
                <td>{{profile.comment}}</td>
                <td>{{profile.tikets | arraySize }}</td>
                <td>{{link}}</td>
                <td>
                  <!-- <a href="javascript:" class="label theme-bg2 text-white f-12 rounded-pill">Edit</a> -->
                  <!-- <swal
                    #deleteSwal
                    title="Delete '{{profile.name}}' ?"
                    text="Attention ! Si vous supprimer le profile, les tikets lie a ce profile seront supprimes aussi"
                    icon="question"
                    [showCancelButton]="true"
                    [focusCancel]="true"
                    >
                  </swal> -->
                  <!-- <button [swal]="deleteSwal" (confirm)="deleteProfile(profile.id)" class="label btn theme-bg text-white f-12 rounded-pill">Remove</button> -->
                  <button (click)="delete(profile.id)" class="label btn btn-danger text-white f-12 rounded-pill">Remove</button>
                  <a href="javascript:" class="label theme-bg text-white f-12 rounded-pill" (click)="copyToClipboard(profile)">Copy link</a>
                </td>
              </tr>
            }
          </tbody>
        </table>
      </div>
      <div>
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
            <li class="page-item disabled">
              <a class="page-link" href="javascript:" tabindex="-1">Previous</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="javascript:">1</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="javascript:">2</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="javascript:">3</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="javascript:">Next</a>
            </li>
          </ul>
        </nav>
      </div>
    </app-card>
  </div>

  <!-- <div class="col-xl-12 col-md-6">
    <app-card cardTitle="Manager Profile" cardClass="Recent-Users" blockClass="p-0">
      <div class="table-responsive">
        <table class="table table-hover mb-0">
          <tbody>
            @for (table of tables; track table) {
              <tr class="unread">
                <td>
                  <img class="rounded-circle" style="width: 40px" src="{{ table.src }}" alt="activity-user" />
                </td>
                <td>
                  <h6 class="mb-1">{{ table.title }}</h6>
                  <p class="m-0">{{ table.text }}</p>
                </td>
                <td>
                  <h6 class="text-muted">
                    <i class="fas fa-circle {{ table.color }} f-10 m-r-15"></i>
                    {{ table.time }}
                  </h6>
                </td>
                <td>
                  <a href="javascript:" class="label theme-bg2 text-white f-12 rounded-pill">Reject</a>
                  <a href="javascript:" class="label theme-bg text-white f-12 rounded-pill">Approve</a>
                </td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    </app-card>
  </div>
   -->
  <!-- <div class="col-sm-12">
    <app-card cardTitle="Button Badges" [options]="false">
      <button type="button" class="btn btn-primary">
        primary
        <span class="badge bg-light text-dark ms-2">4</span>
      </button>
      <button type="button" class="btn btn-secondary">
        secondary
        <span class="badge bg-light text-dark ms-2">4</span>
      </button>
      <button type="button" class="btn btn-success">
        success
        <span class="badge bg-light text-dark ms-2">4</span>
      </button>
      <button type="button" class="btn btn-danger">
        danger
        <span class="badge bg-light text-dark ms-2">4</span>
      </button>
      <button type="button" class="btn btn-warning">
        warning
        <span class="badge bg-light text-dark ms-2">4</span>
      </button>
      <button type="button" class="btn btn-info">
        info
        <span class="badge bg-light text-dark ms-2">4</span>
      </button>
    </app-card>
  </div> -->

</div>

<ng-template #content let-c="close" let-d="dismiss">
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Adding profile</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
	</div>
	<div class="modal-body">
		<form (ngSubmit)="onSubmit(c)" [formGroup]="profileForm">
      <div class="form-group">
        <label for="wifizone">Select wifi zone*</label>
        <select class="form-control" formControlName="wifiZoneId" id="wifizone">
          <option selected value="">------ Select wifizone -----</option>
          @for (wifizone of wifizones; track wifizone) {
            <option value="{{wifizone.id}}">{{wifizone.name}}</option>
          }
        </select>
      </div>
      <div class="form-group">
        <label for="name">Profile name*</label>
        <input type="text" class="form-control" formControlName="name" id="name" aria-describedby="nameHelp" placeholder="Enter profile name" />
      </div>
      <div class="form-group">
        <label for="timeLimit">Time limit*</label>
        <input type="text" class="form-control" formControlName="timeLimit" id="timeLimit" placeholder="Enter time limit i.e: 3m, 3h, 3d, 3w" />
      </div>
      <div class="form-group">
        <label for="price">Price*</label>
        <input type="number" class="form-control" formControlName="price" id="price" placeholder="Enter price for profile i.e: 5000" />
      </div>
      <div class="form-group">
        <label for="comment">Comment</label>
        <textarea class="form-control" name="comment" formControlName="comment" id="comment" placeholder="Enter a comment"></textarea>
      </div>
      <button type="submit" [disabled]="!profileForm.valid" class="btn btn-primary">Save</button>
    </form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-danger" (click)="d('Cross click')">Close</button>
		<!-- <button type="submit" [disabled]="!profileForm.valid" class="btn btn-outline-secondary" (click)="c('Save click')">Save</button> -->
	</div>
</ng-template>
